/* For testing only */
.bordered {
  border: 5px solid red;
}

/* Imports */
@font-face {
  font-family: "tbf";
  src: url("./assets/fonts/theboldfont.ttf");
}

/* Body */
.body,
html {
  overflow-x: hidden;
  color: rgb(232, 232, 232);
  background: rgb(15, 15, 12);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Page Background */
#page-background {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}

/* Navbar */
nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  padding-top: 5px;
  background-color: var(--neutral);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  box-shadow: 0px 5px 5px 0px var(--neutral);
}
nav div.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem 0 0 0;
  width: fit-content;
}
nav div.nav-links a {
  font-size: 12pt;
  padding: 0.7rem;
  height: fit-content;
  color: rgb(232, 232, 232);
  font-family: "tbf";
  text-decoration: none;
}
nav div.nav-links a.active {
  border-bottom: 0.3rem solid rgb(232, 232, 232);
  padding-bottom: 0.4rem !important;
}
nav #home-link {
  font-size: 22pt;
  font-family: "tbf";
  display: block;
  color: var(--color);
  padding: 0rem 5vw;
  text-decoration: none !important;
  cursor: pointer;
}
nav #home-link-sm {
  font-size: 22pt;
  font-family: "tbf";
  display: none;
  color: var(--color);
  padding-top: 1rem;
  text-decoration: none !important;
}
@media screen and (max-width: 760px) {
  nav #home-link-sm {
    display: block;
  }
  nav #home-link {
    display: none;
  }
  nav div.nav-links {
    padding: 0;
  }
}
/* Text */
h1,
h2,
h3 {
  font-family: "tbf";
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}

/* Main */
/* section#main {

} */
@media (max-width: 768px) {
  section#main {
    margin: 5rem 2vw;
  }
}

@media (min-width: 768px) {
  section#main {
    margin: 5rem 5vw;
  }
}

@media (min-width: 1024px) {
  section#main {
    margin: 5rem 15vw;
  }
}

@media (min-width: 1200px) {
  section#main {
    margin: 5rem 20vw;
  }
}
