/* For testing only */
.bordered {
  border: 5px solid red;
}

/* Imports */
@font-face {
  font-family: "tbf";
  src: url("./assets/fonts/theboldfont.ttf");
}

/* Utilities */
.hidden {
  display: none !important;
  overflow: none !important;
}

/* Text */
h1,
h2,
h3 {
  font-family: "tbf";
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
.title {
  font-size: 32pt;
}
.text-crt {
  animation: distort 1.6s infinite;
}

/* Body */
.body,
html {
  overflow-x: hidden;
  color: rgb(232, 232, 232);
  background: rgb(15, 15, 12);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Page Background */
#page-background {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}

/* Navbar */
nav {
  /* position: sticky; */
  top: 0;
  width: 100%;
  height: auto;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav div.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem 0 0 0;
  width: fit-content;
}
nav div.nav-links a {
  font-size: 12pt;
  padding: 0.7rem;
  height: fit-content;
  color: rgb(232, 232, 232);
  font-family: "tbf";
  text-decoration: none;
}
nav div.nav-links a.active {
  border-bottom: 0.3rem solid rgb(232, 232, 232);
  padding-bottom: 0.4rem !important;
}
nav #home-link {
  font-size: 22pt;
  font-family: "tbf";
  display: block;
  color: var(--color);
  padding: 0rem 5vw;
  text-decoration: none !important;
  cursor: pointer;
}
nav #home-link-sm {
  font-size: 22pt;
  font-family: "tbf";
  display: none;
  color: var(--color);
  padding-top: 1rem;
  text-decoration: none !important;
}
@media screen and (max-width: 768px) {
  nav #home-link-sm {
    display: block;
  }
  nav #home-link {
    display: none;
  }
  nav div.nav-links {
    padding: 0;
  }
}

/* Main */
section#main {
  margin: 5rem 2vw;
}

@media (min-width: 768px) {
  section#main {
    margin: 5rem 5vw;
  }
}

@media (min-width: 1024px) {
  section#main {
    margin: 5rem 15vw;
  }
}

@media (min-width: 1200px) {
  section#main {
    margin: 5rem 20vw;
  }
}

/* Members */
div#member-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: fit-content;
  margin: auto;
}
div#member-selection a {
  margin: 0 5px;
}
div#member-selection img {
  aspect-ratio: 1;
  min-width: 48px;
  max-width: 96px;
  width: 5vw;
  border-radius: 50%;
  transition: 300ms ease;
}
div#member-selection a.active img {
  border-radius: 15%;
}
div#member-container {
  position: relative;
  min-width: calc(200 * (4 / 3));
  min-height: 200px;
  width: calc(80vh * (4 / 3));
  height: 80vh;
  padding: 2em;
  margin: 5px auto 15px auto;
  background: rgb(232, 232, 232);
  border-radius: 50% / 10%;
  color: rgb(15, 15, 12) !important;
  text-align: center;
  text-indent: 0.1em;
}
div#member-container:before {
  content: "";
  position: absolute;
  top: 8%;
  bottom: 8%;
  right: -4%;
  left: -4%;
  background: inherit;
  border-radius: 5% / 50%;
  z-index: -2;
}
div#member-transition {
  position: relative;
  min-width: calc(200 * (4 / 3));
  min-height: 200px;
  width: calc(80vh * (4 / 3));
  height: 80vh;
  padding: 2em;
  margin: 5px auto 15px auto;
  /* overflow: hidden; */
  border-radius: 50% / 10%;
  background: lime;
  /* background-image: url("./assets/background/channelstatic.mp4"); */
  /* background-size: cover; */
  background-image: repeating-radial-gradient(
    circle at 0% 50%,
    white,
    black 0.00085px
  );
  animation: tv-static 5s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#member-transition:before {
  content: "";
  position: absolute;
  top: 8%;
  bottom: 8%;
  right: -4%;
  left: -4%;
  /* overflow: hidden; */
  background: inherit;
  border-radius: 5% / 50%;
  z-index: -2;
}
/* div#member-transition video {
  position: absolute;
  width: 120%;
  height: 120%;
  z-index: -2;
} */
h1#transition-name {
  font-size: 24pt;
  font-style: italic;
  color: rgb(232, 232, 232);
  z-index: 2;
}
div#member-display {
  /* overflow: hidden; */
  clear: both;
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  z-index: 3;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* animation: flicker 0.15s infinite; */
}
div#member-display::before {
  /* overflow: hidden; */
  content: " ";
  display: block;
  position: absolute;
  width: 110%;
  top: 0;
  left: -5%;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
div#member-display::after {
  /* overflow: hidden !important; */
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

div#member-display h1#member-name {
  font-style: italic;
}

div#member-display h1#member-name,
div#member-display p#member-about,
div#member-display ul#member-bullets {
  margin: 0;
  z-index: 2;
}
div img#member-image {
  position: absolute;
  z-index: 0;
  height: 90%;
  opacity: 0.5;
}
div#member-display div#member-info {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

/* Swiper */
.swiper {
  overflow-x: hidden;
  overflow-y: visible !important;
  margin: 5vh auto;
  box-shadow: 0px 0px 10px 10px var(--neutral) inset;
}

.swiper-wrapper {
  height: fit-content;
  width: 50vh;
}

.swiper-slide {
  height: fit-content;
  width: 50vh;
  margin: auto;
  border-radius: 1rem;
  background-color: var(--color);
  color: var(--tan);
  transition: 300ms ease;
}

.swiper-slide p,
.swiper-slide h2,
.swiper-slide a {
  width: 75%;
  padding: 0;
  margin: 0;
}

.swiper-slide div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50vh;
  max-height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
}

/* Animations */
@keyframes stereoText {
  0% {
    text-shadow: 0.4389924193300864px 0 0 rgba(66, 101, 255, 0.8),
      -0.4389924193300864px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 0 rgba(66, 101, 255, 0.8),
      -2.7928974010788217px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 0 rgba(66, 101, 255, 0.8),
      -0.02956275843481219px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 0 rgba(66, 101, 255, 0.8),
      -0.40218538552878136px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 0 rgba(66, 101, 255, 0.8),
      -3.4794037899852017px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 0 rgba(66, 101, 255, 0.8),
      -1.6125630401149584px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 0 rgba(66, 101, 255, 0.8),
      -0.7015590085143956px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 0 rgba(66, 101, 255, 0.8),
      -3.896914047650351px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 0 rgba(66, 101, 255, 0.8),
      -3.870905614848819px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 0 rgba(66, 101, 255, 0.8),
      -2.231056963361899px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 0 rgba(66, 101, 255, 0.8),
      -0.08084290417898504px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 0 rgba(66, 101, 255, 0.8),
      -2.3758461067427543px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 0 rgba(66, 101, 255, 0.8),
      -2.202193051050636px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 0 rgba(66, 101, 255, 0.8),
      -2.8638780614874975px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 0 rgba(66, 101, 255, 0.8),
      -0.48874025155497314px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 0 rgba(66, 101, 255, 0.8),
      -1.8948491305757957px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 0 rgba(66, 101, 255, 0.8),
      -0.0833037308038857px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 0 rgba(66, 101, 255, 0.8),
      -0.09769827255241735px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 0 rgba(66, 101, 255, 0.8),
      -3.443339761481782px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 0 rgba(66, 101, 255, 0.8),
      -2.1841838852799786px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 0px rgba(66, 101, 255, 0.8),
      -2.6208764473832513px 0 0 rgba(255, 65, 65, 0.8), 0 0 3px;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

@keyframes tv-static {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 200% 200%;
  }
}
