/* For testing only */
.bordered {
  border: 5px solid red;
}

/* Imports */
@font-face {
  font-family: "tbf";
  src: url("./assets/fonts/theboldfont.ttf");
}

/* Text */
h1,
h2,
h3 {
  font-family: "tbf";
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
.title {
  font-size: 32pt;
}

/* Body */
.body,
html {
  overflow-x: hidden;
  color: rgb(232, 232, 232);
  background: rgb(15, 15, 12);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Page Background */
#page-background {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}

/* Navbar */
nav {
  /* position: sticky; */
  top: 0;
  width: 100%;
  height: auto;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav div.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem 0 0 0;
  width: fit-content;
}
nav div.nav-links a {
  font-size: 12pt;
  padding: 0.7rem;
  height: fit-content;
  color: rgb(232, 232, 232);
  font-family: "tbf";
  text-decoration: none;
}
nav div.nav-links a.active {
  border-bottom: 0.3rem solid rgb(232, 232, 232);
  padding-bottom: 0.4rem !important;
}
nav #home-link {
  font-size: 22pt;
  font-family: "tbf";
  display: block;
  color: var(--color);
  padding: 0rem 5vw;
  text-decoration: none !important;
  cursor: pointer;
}
nav #home-link-sm {
  font-size: 22pt;
  font-family: "tbf";
  display: none;
  color: var(--color);
  padding-top: 1rem;
  text-decoration: none !important;
}
@media screen and (max-width: 768px) {
  nav #home-link-sm {
    display: block;
  }
  nav #home-link {
    display: none;
  }
  nav div.nav-links {
    padding: 0;
  }
}

/* Main */
section#main {
  margin: 5rem 2vw;
}

@media (min-width: 768px) {
  section#main {
    margin: 5rem 5vw;
  }
}

@media (min-width: 1024px) {
  section#main {
    margin: 5rem 15vw;
  }
}

@media (min-width: 1200px) {
  section#main {
    margin: 5rem 20vw;
  }
}

/* Members */
div.member-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: fit-content;
  margin: auto;
}
div.member-selection a {
  margin: 0 5px;
}
div.member-selection img {
  aspect-ratio: 1;
  min-width: 48px;
  max-width: 96px;
  width: 5vw;
  border-radius: 50%;
}
div.member-selection a.active img {
  border-radius: 15%;
}
div.member-container {
  height: fit-content;
  flex-direction: column;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  margin: 0 5vw;
}

/* Swiper */
.swiper {
  overflow-x: hidden;
  overflow-y: visible !important;
  margin: 5vh auto;
  box-shadow: 0px 0px 10px 10px var(--neutral) inset;
}

.swiper-wrapper {
  height: fit-content;
  width: 50vh;
}

.swiper-slide {
  height: fit-content;
  width: 50vh;
  margin: auto;
  border-radius: 1rem;
  background-color: var(--color);
  color: var(--tan);
  transition: 300ms ease;
}

.swiper-slide p,
.swiper-slide h2,
.swiper-slide a {
  width: 75%;
  padding: 0;
  margin: 0;
}

.swiper-slide div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50vh;
  max-height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
}
